 {{#if products}}
<table class="table">
 
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>
    
    {{#each products}}
    <tr id="product-list-{{this._doc._id}}">
      <td scope="row">1</td>
      <td>  
        <img src="/images/{{this.cryptoId}}.jpg"  width="50px" alt="">

      </td>
      <td>{{this.name}}</td>
            <td>{{this.Price}}</td>

      <td class="row" >
        {{#if this.count}}
        {{#if (NoEq this.count 1)}}
          <button class="cart-item-count btn " id="count-dec-btn-{{this._id}}" onclick="changeProductCount('{{this._id}}','{{../user.id}}',-1)" >-</button>
         {{else}}
         <button class="cart-item-count btn " id="count-dec-btn-{{this._id}}"  onclick="changeProductCount('{{this._id}}','{{../user.id}}',-1)"disabled>-</button>
         {{/if}}

      {{/if}}

        <div class="ml-2 mr-2">
          <h3 id="item-count-{{this._id}}">{{this.count}}</h3>
        </div>        
        <button class="cart-item-count btn"  onclick="changeProductCount('{{this._id}}','{{../user.id}}',+1)">+</button>
        </td>
        <td>
          <button class="btn btn-danger" onclick="removeCartItem('{{this._id}}','{{../user.id}}')">delete</button>
        </td>
    </tr>
    {{/each}}
    <td></td>
    <td>Items</td>
     <td></td>
    <td>Total</td>
    <td id="total">{{total}}</td>
    <td><a href="/place-order/{{user.id}}"> <button class="btn btn-warning">Place Order</button></a></td>

    
 
  </tbody>
</table>
{{else}}
    <h1>Nothing in your Cart. <a href="/">click here</a> to continue shopping</h1>
    {{/if}}
